<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: gray;
  font-family: verdana;
  font-size: 150%;

}
p  {
  color: Black;
  font-family: courier;
  font-size: 300%;
}
body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/OpenShift-LogoType.svg/1200px-OpenShift-LogoType.svg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>

<h1>Boost your cloud-native deployments with</h1>
<p>RED HAT OPENSHIFT CONTAINER PLATFORM !</p>
<p>Innovation without limitation &#128513;</p>
Hello LOMBARD odier!!! see you next time :)
</body>
</html>
